a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --second: #e7f8ff;
    --page-border: #dedede;
    --card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .05);
    --primary: #1d93ab;
}


/* 全局隐藏所有滚动条 */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/* WebKit 内核浏览器 */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
