a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --second: #e7f8ff;
    --page-border: #dedede;
    --card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .05);
}
